* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #fffffe;
}

h1 {
    color: #e53170;
    font-weight: 800;
}

h3{
    padding-top: 10px;
}

p {
    text-align: center;
    margin-bottom: 1rem;
}

img {
    float: left;
    width: 100px;
    padding-right: 1rem;
}

#app-header {
    padding: 2rem;
    text-align: center;
}

.fs-8{
    font-size: 0.8rem;
}
/* main */

.container {
    width: 80%;
}

a[href*="mailto"] {
    color: #63e4e7;
    text-decoration: none;
}

.columns>div {
    float: left;
    background-color: #0f0e17;
    width: calc(100% / 3 - 32px);
    margin: 8px;
    margin-top: 30px;
    color: white;
    line-height: 1.2rem;
    box-shadow: 5px 5px 8px #888888;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}